html {background-image:url("../images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover}
h1 {font-family:arial;
    background-color: #F0B823 ;
    color: #000000;
    }
h2 {font-family:arial;
    background-color: #F0B823 ;
    color: #000000;
    }
h3 {font-family:arial;
    background-color: #F0B823 ;
    color: #000000;
    }